.container {
    display: flex;
    margin: 20px;
}

.inputElement {
    width: 15%;
}

.input, .select,button {
    display: block;
    width: 90%;
    text-align: left;
    height: 40px;
    border-radius: 20px;
}
.button{
    background-color: rgb(75, 187, 75);
    margin: 20px 0px;
}

p {
    text-transform: uppercase;
}
