.container-warp{
    margin-top: 2%;
}
.form-control.input-w{
}
.col-md{
    margin: 2% 0;
}
.span-title{
    font-size: 20px;
}
.result-warp{
    margin-top: 2%;
    /* border-top:2px solid gray; */
}
.box-result{
    border: 3px solid black;
}