table,thead,tbody {
    display: block;
    width: 100%;
}

tr{
    display: flex;
}

th,td{
    display: block;
    width: 50%;
    height: 50px;
}

tbody{
    border: 1px solid grey;
    height: 300px;
    overflow: auto;
}