body{
	background: #b7f7e8;
	font-size: 1em;
}		
label{
	min-width: 150px;
	font-weight: bold;
}
select{
	border-radius: 3px;
}
.zones select{
	width: 50%;
}
form input{
	border-radius: 2px;
	border: 1px solid #999;
}
form input[name="company"]{
	width: 50%;
}
form input[name="time"]{
	width: 5%;
}
.move{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
form .error{
	color: #f00;
	font-weight: normal;
}
i{
    cursor: pointer;
}
.colorCode{
	width: 20px;
	height: 20px;
}