.main {
  margin-top: 100px;
}
.table thead th {
  border-bottom: 1px solid #5da1e2 !important;
}
.table td,
.table th {
  border-top: 1px solid #5da1e2 !important;
}
.last {
  border-bottom: 1px solid #5da1e2 !important;
}
.square {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    
}
.hover:hover {
    color: blue;
    cursor: pointer;
}
.hover1:hover {
    color: red;
    cursor: pointer;
}
a {
    text-decoration: none !important;
    color:white !important;
}
#delete {
    
}